include LICENSE
include NOTICE.md
include README.md
include SCAFFOLD.md

recursive-include notebooks *.py
recursive-include workflows *.json
recursive-include web/docs *.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
